.Content {
    padding-top: 130px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #24b840;
    text-align: center;
    color: white;
    font-size: 2em;
    font-weight: bold;
}

.NextButton {
    max-width: 110px;
    padding: 15px 10px 15px 20px;
    color: #fff;
    border: 1px solid #aaa;
    background-color: #bbb;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    margin: 20px auto;
    font-size: 1.5em;
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.NextButton:hover {
    background-color: rgb(139, 197, 219);
}

.BtnText {
    flex-grow: 1;
    text-align: right;
    padding-right: 10px;
}

.RightArrow {
    flex-grow: 1;
    width: 25px;
    height: 25px;
    background-image: url('../../../assets/icons/right-arrow.svg');
    background-repeat: no-repeat;
    background-position: 0% 100%;
}