.Profile {
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.08) 0 1px 2px;
	border: 1px solid #e4e4e4;
}

.ProfileHeader {
	border-radius: 5px 5px 0 0;
	background-image: linear-gradient(to top, #4f2f82, #7b609c);
	background-image: url('../../../../assets/images/as_concentric_circles.svg');
	background-position: 50% 35px;
	background-size: 200px;
	background-repeat: no-repeat;
	background-color: #7b609c;
	height: 190px;
	position: relative;
}

.ImageWrapper {
	padding: 0 20px;
	margin-top: 20px;
	width: 100%;
	max-height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	box-sizing: border-box;
}

.ProfileImage {
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.24);
	border-radius: 50%;
	width: 104px;
	height: 104px;
}

.UserName {
	padding-top: 6px;
	color: white;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 1.1em;
	min-height: 40px;
}

.Level {
	color: white;
	width: 100%;
	text-align: center;
	font-size: 0.9em;
	min-height: 1.2em;
}

.ProfileStats {
	background-color: white;
	padding: 15px 5px;
	display: flex;
	flex-direction: row;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.StatsWrapper {
	flex: 50%;
	text-align: center;
}

.StatsSeparator {
	width: 1px;
	height: 35px;
	background: rgba(0, 0, 0, 0.15);
	margin: 0 5px;
}

.StatsNumber {
	font-weight: bold;
	font-size: 18px;
	color: #1fa3e8;
	line-height: 1.11;
}

.StatsLabel {
	margin-top: 2px;
	font-size: 12px;
	line-height: 1.67;
	color: #3e3e3e;
}
