.EditingNavBar {
	background-color: white;
	border-bottom: solid 1px #e6e6e6;
}

.Row {
	margin: auto;
	padding: 20px 30px;
	max-width: 960px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.Title {
	font-size: 1.3em;
	font-weight: bold;
	color: #3e3e3e;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.BackBtn {
	background-image: linear-gradient(-180deg, #fff 0%, #f4f4f4 100%);
	text-shadow: none;
	background-color: #fff;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	letter-spacing: 0.6px;
	font-weight: 400;
	border: 1px solid #cdcdcd;
	font-size: 14px;
	color: #696464;
	padding: 7px 20px;
	padding-left: 10px;
	min-width: 66px;
	cursor: pointer;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
}

.LeftArrow {
	margin-top: 1px;
	margin-right: 10px;
	width: 15px;
	height: 15px;
	background-image: url('../../../assets/icons/right-arrow.svg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	filter: brightness(40%);
	transform: rotate(180deg);
}
