.Profile {
	border-radius: 5px;
}

.ProfileHeader {
	border-radius: 5px 5px 0 0;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#4f2f82), to(#7b609c));
	background-image: linear-gradient(to top, #4f2f82, #7b609c);
	background-image: url('../../../../assets/images/as_concentric_circles.svg');
	background-position: 50% 35px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-color: #7b609c;
	height: 190px;
	position: relative;
}

.ProfileImage {
	height: 50px;
	width: 50px;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.24);
	border-radius: 50%;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
	top: 50px;
	left: 50%;
	margin-left: -50px;
	margin-top: 30px;
	height: 100px;
	width: 100px;
	content: url('../../../../assets/images/avatar-2.png');
}

.UserName {
	padding-top: 6px;
	color: white;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 1.1em;
	line-height: 40px;
}

.Level {
	color: white;
	width: 100%;
	text-align: center;
	font-size: 0.9em;
}